REACT_APP_SERVER_URL = 'http://localhost:8000/api/v1'
# ye neeche wala url frontend ke hosting time me use karna hai, ye vercel pe host karne ke baad ye url mila hai👇
# REACT_APP_SERVER_URL = 'https://full-stack-web-question-bank.vercel.app/api/v1'

# aap apna backend ka url use kijiyega please, mai isse apke reference ke liye rhne de rha hun

# apko .env file root folder me bna ke usme isi tarah se apna url dal dena h