MONGO_URL =mongodb+srv://bhardwajrahul97802_db_user:on5gRNrq0Kgyu4L8@mydb.enfvymm.mongodb.net/

# aap apna url use kijiyega please🙏, mai isse apke reference ke liye rhne de rha hun

# apko .env file root folder me bna ke usme isi tarah se apna url dal dena h
